@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    padding:0px;
    margin: 0px;
    font-family: "Figtree", sans-serif;
}
html{
    scroll-behavior: smooth;
}

.animated-container {
    border: 24px solid #B0B0B0;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    animation: aspectRatioChange 6s infinite;
  }

  .circle-container {
    margin-top: -20px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #F0F0F0;
    border: 7px solid #000;
  }

  .image-container {
    background: url('https://www.sony.net/Products/di_photo-gallery/images/extralarge/2024.JPG') no-repeat center center;
    background-size: cover;
    animation: aspectRatioChange 6s infinite;
  }

  @keyframes aspectRatioChange {
    0%, 33% {
      height: calc(600px * 10 / 18); /* 16:9 */
    }
    34%, 66% {
      height: calc(400px * 12 / 7); /* 10:12 */
    }
    67%, 100% {
      height: calc(400px * 8 / 5); /* 6:10 */
    }
  }



  .partners_logos_main_wrapper {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  .partners_logos_wrapper {
    display: inline-block;
    align-items: center;
    animation: 90s PartnersLogoSlide infinite linear;
  }

  @keyframes PartnersLogoSlide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}





.scroll-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .scroll-content {
    display: flex;
    align-items: center;
    animation: scroll 27s linear infinite;
  }

  .scroll-content > div,
  .scroll-content > img {
    display: flex;
    align-items: center;

    
  }


  .scroll-content > div h2 {
    margin-right: 10px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .scroll-content::after {
    content: '';
    display: block;
    width: 100%;
  }